@font-face {
  font-family: "Tahoma";
  src:
    url("assets/tahomabd.ttf") format("truetype"),
    local("Tahoma"),
}

@font-face {
  font-family: "MS Sans Serif";
  src:
    url("assets/ms-sans-serif-1.ttf") format("truetype"),
    local("MS Sans Serif"),
}

body {
    margin: 0;
    padding: 0;
    font-size: 8pt;
    font-smooth: never;
    background-image: url(assets/Windows\ 2000.jpg);
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
}

#desktop_icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    row-gap: 28px;
    align-content: flex-start;
    padding: 4px;
    overflow: hidden;
    image-rendering: pixelated;
}

.desktop_icon {
    width: 70px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.selected p, .selected img {
    background-color: rgba(0, 0, 128, 0.5);
    outline: 1px dotted white;
} 

.desktop_icon img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    user-select: none;
}

.desktop_icon p {
    font-family: "MS Sans Serif", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    user-select: none;
}

#taskbar {
    width: 100%;
    height: 28px;
    background-color: rgb(212, 208, 200);
    position: fixed;
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 0;
    image-rendering: pixelated;
    border-top: 1px solid rgb(212, 208, 200);
    box-shadow: inset 0 1px 0 0 white;
}

#taskbar_content {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 2px;
    margin-left: 2px;
    gap: 4px;
    image-rendering: pixelated;
}

.start_button {
    background-image: url('assets/startbutton.png'); 
    width: 55px; 
    height: 22px; 
    border: 0;
}
.start_button:active {
    background-image: url('assets/startbuttondown.png'); 
}

.window_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('assets/taskbarbutton.png');
    font-family: "MS Sans Serif", sans-serif;
    font-size: 8pt;
    font-smooth: never;
    width: 160px;
    height: 22px;
    border: 0;
    user-select: none;
}
.window_button p {
    transform: translateY(1px);
    user-select: none;
}
.window_button img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 4px;
    image-rendering: pixelated;
}
.window_button:active {
    background-image: url('assets/taskbarbuttondown.png');
}

.window_button.infront {
    background-image: url('assets/taskbarbuttonactive.png');
}

.window_button.infront img {
    transform: translateY(1px);
}
.window_button.infront p {
    transform: translateY(2px);
    font-weight: bold;
}