body {
    margin: 0;
    padding: 0;
}
#taskbar {
    width: 100%;
    height: 28px;
    background-color: rgb(212, 208, 200);
    position: fixed;
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 0;
    image-rendering: crisp-edges;
    border-top: 1px solid rgb(212, 208, 200);
    box-shadow: inset 0 1px 0 0 white;
}

.taskbar_content {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 2px;
    margin-left: 2px;
    image-rendering: pixelated;
}