.window {
    background-color: rgb(212, 208, 200);
    margin: 0;
    padding: 3px;
    font-family: "MS Sans Serif", sans-serif;
    font-size: 8pt;
    font-smooth: never;
    box-shadow: 
        inset 1px 1px 0px 0px #ffffff,
        inset -1px -1px 0px 0px #808080,
        0px 0px 0px 0px #dfdfdf,
        1px 1px 0px 0px #000000;
    scrollbar-color: #808080 rgb(212, 208, 200);
}

.window_content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div.window_titlebar {
    max-width: 100%;
    padding-left: 3px;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(192, 192, 192));
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
div.window_titlebar.infront {
    background: linear-gradient(to right, rgb(10, 36, 106), rgb(166, 202, 240));
}

.window_titlebar p {
    color: rgb(212, 208, 200);
    font-family: 'Tahoma', sans-serif;
    font-smooth: never;
    -webkit-font-smoothing : none;
    letter-spacing: 1px;
    font-size: 11px;
    user-select: none;
}
.window_titlebar.infront p {
    color: white;
}

.window_titlebar_buttons {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 2px;
}

.window_titlebar_buttons input {
    height: 14px;
    image-rendering: pixelated;
    border: 0;
    padding: 0;
    margin: 0;
}
.window_titlebar_buttons .titlebar_button {
    width: 16px;
    height: 14px;
    padding: 0;
    margin: 0;
    border: 0;
}

.window_titlebar_buttons #minimize {
    background: url("assets/minimizetitlebutton.png");
}
.window_titlebar_buttons #minimize:active {
    background: url("assets/minimizetitlebuttondown.png");
}

.window_titlebar_buttons #maximize {
    background: url("assets/maximizetitlebutton.png");
}
.window_titlebar_buttons #maximize:active {
    background: url("assets/maximizetitlebuttondown.png");
}

.window_titlebar_buttons #close {
    background: url("assets/closetitlebutton.png");
}
.window_titlebar_buttons #close:active {
    background: url("assets/closetitlebuttondown.png");
}