@font-face {
  font-family: "Tahoma";
  src:
    url("assets/tahomabd.ttf") format("truetype"),
    local("Tahoma"),
    
}

div.window {
    background-color: #c0c0c0;
    padding: 3px;
    box-shadow: 
        inset 1px 1px 0px 0px #ffffff,
        inset -1px -1px 0px 0px #808080,
        0px 0px 0px 0px #dfdfdf,
        1px 1px 0px 0px #000000;
}

div.window_titlebar {
    max-width: 100%;
    padding-left: 3px;
    background: linear-gradient(to right, rgb(10, 36, 106), rgb(166, 202, 240));
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.window_titlebar p {
    color: white;
    /*text-shadow: 1px 0 0 white;*/
    font-family: 'Tahoma', sans-serif;
    font-smooth: never;
    -webkit-font-smoothing : none;
    letter-spacing: 1px;
    font-size: 11px;
    user-select: none;
}

.window_titlebar_buttons {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 2px;
}

.window_titlebar_buttons input {
    height: 14px;
    image-rendering: pixelated;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'W95FA', sans-serif;
}
.window_titlebar_buttons .titlebar_button {
    width: 16px;
    height: 14px;
    padding: 0;
    margin: 0;
    border: 0;
}

.window_titlebar_buttons #minimize {
    background: url("assets/minimizetitlebutton.png");
}
.window_titlebar_buttons #minimize:active {
    background: url("assets/minimizetitlebuttondown.png");
}

.window_titlebar_buttons #maximize {
    background: url("assets/maximizetitlebutton.png");
}
.window_titlebar_buttons #maximize:active {
    background: url("assets/maximizetitlebuttondown.png");
}

.window_titlebar_buttons #close {
    background: url("assets/closetitlebutton.png");
}
.window_titlebar_buttons #close:active {
    background: url("assets/closetitlebuttondown.png");
}